@import url("chrome://global/skin/in-content/common.css");

html, body {
  max-height: 100vh;
  max-width: 100vw;

  --success-text-color: green;
  --error-text-color: red;
  --subtext-color: #888;
}

body {
  color: var(--in-content-text-color);
}

@media(min-width: 1000px) {
  body {
    margin: 40px;
  }
}

body.loading {
  opacity: 0.5;
}

h2, h3 {
  margin: unset;
}

dt {
  margin-top: .5em;
  font-weight: bold;
}

dl {
  margin: 0 2em 0 0;
  width: max-content;
  display: inline-block;
}

dd {
  margin-left: 1em;
}

.error {
  color: var(--error-text-color);
}

section {
  border: 1px solid var(--in-content-border-color);
  background-color: var(--in-content-box-background);
  padding: 10px;
  word-break: break-all;
}

#header {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

#env-actions button, #env-actions select {
  display: block;
  width: 91%;
  margin: 4px 8px;
}

#header section {
  position: relative;
  vertical-align: top;
  border-radius: 4px;
}

#header section h2 {
  position: absolute;
  font-size: medium;
  top: -0.5em;
  background-color: var(--in-content-box-background);
  padding: 0 .3em;
}

#header-status {
  flex-grow: 1;
}

#environment {
  text-align: center;
}

#environment-error {
  max-width: 300px;
  word-break: unset;
  display: none;
}

#environment-error pre {
  margin: 0px;
}

#status table {
  width: 100%;
  min-width: 860px;
  text-align: center;
  border-collapse: collapse;
}
#status table th {
  white-space: nowrap;
  min-width: 6em;
}
#status table td:first-child, #status table th:first-child {
  text-align: left
}
#status table tr:not(:first-child) {
  border-top: 1px solid #757575;
}

.collection-status.loading {
  opacity: 0.5;
}
.collection-status a.url {
  font-size: 1.4em;
  white-space: nowrap;
}
.collection-status span:last-child {
  display: block;
}
.collection-status button {
  display: inline-block;
}

.local-timestamp, .server-timestamp, #local-timestamp, #server-timestamp {
  color: var(--subtext-color);
}

.up-to-date::before {
  content: "✔";
  color: var(--success-text-color);
}

.unsync::before {
  content: "⚠";
  color: var(--error-text-color);
}

button.action {
  content: ' ';
  width: 28px;
  height: 28px;
  min-width: 28px;
  background-size: 28px;
  margin-right: 5px;
  cursor: pointer;
  background-repeat: no-repeat;
}

@media (prefers-color-scheme: dark) {
  button.action {
    filter: invert(1);
  }
}

button.sync {
  background-image: url('download.svg');
}

button.clear-data {
  background-image: url('broom.svg');
}

#sync-history {
  min-width: 18em;
}

#sync-history > ul {
  max-height: 12em;
  overflow-y: scroll;
  margin: 0;
}

#sync-history li {
  margin: 10px;
}

#sync-history .status.success {
  background-color: var(--success-text-color);
}

#sync-history .status:not(.success) {
  background-color: var(--error-text-color);
}
