@import url("chrome://global/skin/in-content/common.css");

html, body {
  max-height: 100vh;
  max-width: 100vw;

  --success-text-color: green;
  --error-text-color: red;
  --subtext-color: #888;
}

body {
  margin: 40px;
  display: grid;
  grid-template-areas:
      "title      actionbox  actionbox   telemetry"
      "polling    status     status      telemetry"
      "settings   status     status      telemetry"
      "settings   status     status      telemetry";
  grid-template-columns: 1fr 2fr 2fr max-content;
  grid-gap: 10px;
}

h1 { grid-area: title }
#action-box { grid-area: actionbox }
#blocklists-settings { grid-area: settings }
#blocklists-polling { grid-area: polling }
#blocklists-status { grid-area: status }
#telemetry-events { grid-area: telemetry }

#action-box {
  justify-self: end;

  border: 1px solid var(--in-content-border-color);
  color: var(--in-content-text-color);
}

#action-box h3 {
  display: inline-block;
}

section {
  border: 1px solid var(--in-content-border-color);
  background-color: white;
  padding: 10px;
  word-break: break-all;
}

.blocklist-status {
  margin: 10px;
  display: inline-block;
  vertical-align: top;
}

.local-timestamp, .timestamp, #timestamp {
  color: var(--subtext-color);
}

dt {
  font-weight: bold;
}

.error {
  color: var(--error-text-color);
}

.success {
  color: var(--success-text-color);
}

#telemetry-events {
  max-height: 100%;
  overflow: auto;
}

#telemetry-events .time {
  color: var(--subtext-color);
}

#telemetry-events .status {
  text-transform: uppercase;
  border: 1px dashed;
}

#telemetry-events ul {
  padding-left: 0;
  list-style-type: none;
}

#telemetry-events li {
  display: flex;
}

#telemetry-events .source {
  flex-grow: 1;
  margin-right: 5px;
  margin-left: 5px;
}

#telemetry-events li:nth-last-child(-n+6) { opacity: 0.8 }
#telemetry-events li:nth-last-child(-n+3) { opacity: 0.5 }
#telemetry-events li:nth-last-child(-n+1) { opacity: 0.2 }

#telemetry-events ul:empty::after {
  content: attr(placeholder);
}
